@font-face {
    font-family: "Glyphtrl";
    src: url(../plugins/fonts/TransliterationItalic.eot?0f5047769e37bc36243d234325986309);
    /* IE9 Compat Modes */
    src: url(../plugins/fonts/TransliterationItalic.eot?0f5047769e37bc36243d234325986309) format("embedded-opentype"), url(../plugins/fonts/TransliterationItalic.woff2?4bf28bc4497ddfb13a83cd289ec4a2ad) format("woff2"), url(../plugins/fonts/TransliterationItalic.woff?5378b697f46e2ebe2a89d6663736d76e) format("woff"), url(../plugins/fonts/GLYPHTRL.ttf?d1b4dad5d323a9a0b7a4722af10ddec1) format("truetype"), url(../plugins/fonts/TransliterationItalic.svg?fd0fc736c474ef6623001ff12b43067a) format("svg");
    /* Legacy iOS */
  }

  .transliteration {
    font-family: "Glyphtrl", Fallback, sans-serif;
    font-size: 1rem;
  }
