body{
    background-color: black;
    background-image: url('/imagenes/img-web/bg-login_.jpg');
    background-size: cover;
    background-blend-mode: luminosity;
}
.card {
    background-color: #1a161640;
    border: 1px solid rgb(232 214 54 / 19%);
    border-radius: .25rem;
    box-shadow: -8px 2px 44px 0px rgb(232 214 54);
    color: white;
    font-weight: bold;
}
.card-header {
    background-color: rgb(232 214 54);
    border-bottom: 1px solid rgb(232 214 54);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    background-image: linear-gradient(0deg, rgba(232,214,54,1) 0%, rgba(181,172,96,1) 100%);
}

.card .btn-link{
    color: #4e4e4e;
}

.card .btn-primary.btn-login{
    background-color: #3232328c;
    border-color: #979793;
}